#game {margin:0 auto;float:none;padding:5px;}
#game,#game a, #thesolution{font-size:30px;font-family:'Ubuntu Mono','Helvetica Neue',Helvetica,Arial,sans-serif;line-height:120%}
@media (min-width: 980px){body{margin-top:50px}}
#game {background:#FFFFFF;/*height:360px;width:640px*/}
#game a.changed{color:purple}
#game ul.nav.nav-tabs li a {font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px}